
@{
    ViewBag.Title = "Unauthorised";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Html.ActionLink("SigUp!", "SignUp", "StudentAccount") or @Html.ActionLink("Login ", "Login", "StudentAccount") to access the website</h3>


